{% extends "base.html" %}
{% block header %}
    {% if user.is_authenticated %}
        <a class="nav-link" href="{% url "accounts:logout" %}">Logout</a>
        {% if user.is_staff %}
            <a class="nav-link" href="{% url "admin:index" %}">Admin</a>
        {% endif %}
    {% else %}
    {% endif %}
{% endblock %}

{% block content %}
    Self links:
    <div class="content">
        <a class="btn btn-success" href="https://kubernetes-example.w40k.net/">https version</a>
        <a class="btn btn-warning" href="http://no-https.kubernetes-example.w40k.net/">http-only version</a>
    </div>
{% endblock %}
