[Unit]
Description=Etcd Server
After=network.target

[Service]
Type=notify
PermissionsStartOnly=true
Environment=ETCD_DATA_DIR=/var/lib/etcd
Environment=ETCD_NAME=w40k
Environment=IP_MASTER=178.79.168.130
WorkingDirectory=/var/lib/etcd/
User=etcd
Group=etcd
ExecStart=/usr/bin/etcd --listen-client-urls https://${IP_MASTER}:2379,https://127.0.0.1:2379 \
           --advertise-client-urls https://${IP_MASTER}:2379 \
           --trusted-ca-file=/etc/etcd/ca.pem \
           --cert-file=/var/lib/kubernetes/kubernetes.pem \
           --key-file=/var/lib/kubernetes/kubernetes-key.pem \
           --peer-cert-file=/var/lib/kubernetes/kubernetes.pem \
           --peer-key-file=/var/lib/kubernetes/kubernetes-key.pem \
           --peer-trusted-ca-file=/var/lib/kubernetes/ca.pem \
           --peer-client-cert-auth \
           --initial-cluster-state new \
           --client-cert-auth
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=default.target
