[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
After=kube-apiserver.service
Requires=kube-apiserver.service

[Service]
#L modify kube-scheduler.yaml kubeconfig location before starting
ExecStart=kube-scheduler --config=/etc/kubernetes/config/kube-scheduler.yaml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
