[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes
After=etcd.service

[Service]
Environment=IP_EXTERNAL=178.79.168.130
Environment=ETCD_MASTER_IP=127.0.0.1
Environment=ETCD_PORT=2379
ExecStart=kube-apiserver \
   --bind-address=${IP_EXTERNAL} \
   --allow-privileged \
   --apiserver-count=1 \
   --authorization-mode=Node,RBAC \
   --storage-backend=etcd3 \
   --etcd-servers=https://${ETCD_MASTER_IP}:${ETCD_PORT} \
   --etcd-certfile=/etc/etcd/kubernetes.pem \
   --etcd-keyfile=/etc/etcd/kubernetes-key.pem \
   --etcd-cafile=/etc/etcd/ca.pem \
   --token-auth-file=/etc/kubernetes/auth-token.csv \
   --service-cluster-ip-range=10.32.0.0/24 \
   --runtime-config=api/all \
   --client-ca-file=/var/lib/kubernetes/ca.pem \
   --tls-cert-file=/var/lib/kubernetes/kubernetes.pem \
   --tls-private-key-file=/var/lib/kubernetes/kubernetes-key.pem \
   --service-account-key-file=/var/lib/kubernetes/service-account.pem \
   --kubelet-certificate-authority=/var/lib/kubernetes/ca.pem \
   --kubelet-client-certificate=/var/lib/kubernetes/kubernetes.pem \
   --kubelet-client-key=/var/lib/kubernetes/kubernetes-key.pem \
   --kubelet-https=true

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

