[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
After=kube-apiserver.service
Requires=kube-apiserver.service

[Service]
ExecStart=kube-scheduler \
    --kubeconfig=/var/lib/kubernetes/kube-scheduler.kubeconfig \
    --config=/etc/kubernetes/config/kube-scheduler.yaml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
